@import url("./reset.css");
@import url("./variables.css");

/* Contact information */
.contact-us {
  text-align: center;
}

/* Form */
fieldset {
  border: 2px solid var(--color-secondary);
  border-radius: 20px;
  padding: 20px;
}

legend {
  font-size: larger;
  padding-bottom: 16px;
}

form {
  max-width: 1000px;
}

textarea {
  height: 200px;
}
