@import url("./reset.css");
@import url("./variables.css");

@media screen and (min-width:730px) {
    .exhibition__flex {
        display: flex;
        flex-direction: row;
        margin: 16px auto;
        gap: 16px;
        width: 95vw;
        max-width: 1000px;
    }

    .medium {
        height: 250px;
        width: 100%;
        max-width: 500px;
    }
    
    .large {
        width: 100%;
        max-width: 500px;
    }  

    .x-large {
        width: 95vw;
        max-width: 1000px;
        margin: 16px auto;
    }

    .x-large-img {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
}