@import url("./reset.css");
@import url("./variables.css");

@media screen and (min-width:730px) {
    .kids {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        width: 95vw;
        max-width: 1000px;
        margin: 16px auto;
        gap: 16px;
    }
    
    .large {
        width: 100%;
        max-width: 600px;
    }   

    .card-vertical {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .text {
        height: 100%;
    }

    .teachers {
        width: 95vw;
        max-width: 1000px;
        margin: 16px auto;
    }

    .researchers {
        width: 95vw;
        max-width: 1000px;
        margin: 16px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px;
    }
}