@import url("./reset.css");
@import url("./variables.css");

.order-summary {
  border-radius: 20px;
  border: 2px solid var(--color-secondary);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
  margin: 16px auto;
  padding: 16px;
  max-width: 600px;
  background-color: var(--color-background);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}

.cart-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-row h4 {
  margin: 0 auto;
}