*, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-background);
  }
  
  /* Text */
  h1, h2, h3, h4, h5 {
    font-family: 'MuseoModerno', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  p {
    font-family: 'Roboto+Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  
  /* Navigation */
  
  
  /* Nav on different screens */

  
  /* CTA buttons*/
  
  
  /* Forms */

  
  /* footer */
  